.container {
  height: 100vh;
  width: 100vw;
}

.container > div {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  text-align: center;
  font-size: 22vw;
  box-sizing: border-box;
}

.container > div:last-of-type {
  margin-bottom: 30vh;
}
