.container {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.page {
  display: flex;
  color: hsla(0, 0%, 100%, 0.9);
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  text-align: center;
  font-size: 16vw;
  box-sizing: border-box;
  border: 10px solid hsla(0, 0%, 100%, 0.9);
  margin: 0 5vh;
}

.page:first-of-type {
  margin-top: 5vh;
}

.page:last-of-type {
  margin-bottom: 5vh;
}
