.page {
  height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
}

.number {
  text-align: right;
  margin-top: 10px;
}

.contact {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: hsl(0, 0%, 94%);
  height: 400px;
  margin: 0 auto;
  border: 10px solid black;
  box-sizing: border-box;
}
